@import java.util._
@(projects: java.util.List[Project], todoTasks: List[Task], user: User)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(projects, user) {

   <header>
   	<hgroup>
   		<h1>Dashboard</h1>
   		<h2>Tasks Over All Projects</h2>
   	</hgroup>
   </header>
   
   <article class="tasks">
   		@todoTasks.groupBy(_.project).map{ case(project,tasks) =>
   				<div class="folder" data-folder-id="@project.id">
   					<header>
   						<h3>@project.name</h3>
   					</header>
   					<ul class="list">
   						@for(task <- tasks){
   							@views.html.tasks.item(task)
   						}
   					</ul>
   				</div>
   		}
   </article>
   

}
