
@(project: List[Project], todoTasks: List[Task])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

   <header>
   	<hgroup>
   		<h1>Dashboard</h1>
   		<h2>Tasks Over All Projects</h2>
   	</hgroup>
   </header>
   
   <article class="tasks">
   		@todoTasks.groupBy(_.project).map{ case(project,tasks) =>
   				<div class="folder" data-folder-id="@project.id">
   					<header>
   						<h3>@project.name</h3>
   					</header>
   					<ul class="list">
   						@for(task <- tasks){
   							<li data-task-id="@task.id">
   								<h4>@task.title</h4>
   								@if(task.dueDate != null){
   									<time datetime="@task.dueDate">
   										@task.dueDate.format("MMM dd yyyy")</time>	
   								}
   								@if(task.assignedTo != null && task.assignedTo.email != null){
   									<span class="assignedTo">@task.assignedTo.email</span>	
   								}
   							</li>
   						}
   					</ul>
   				</div>
   		}
   </article>
   

}
