@*
called from index.scala.html for rendering the body of the webpage
 *@
@import java.util._
@(projects: java.util.List[Project])(body: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ZenTasks</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")" />
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-3.1.0.min.js")"></script>
    </head>
    <body>
    	<header>
    		<a href="@controllers.routes.HomeController.index" id="logo"><span>Zen</span>tasks</a>
    	</header>
       <nav>
       		<h4 class="dashboard"><a href="#/">Dashboard</a></h4>
       		<ul id="projects">
       			@projects.groupBy(_.folder).map{ case(group,projects) => 
       				
       				@views.html.projects.group(group, projects)	
       			}
       		</ul>
       </nav>
       <section id="main">
       		@{body}
       </section>
    </body>
</html>
